@model proekt_internetTeh.Models.KategorijaSoOglasi

@{
    ViewBag.Title = "PoKategorija";
}

<h2>Огласи во рамки на категоријата @ViewBag.imeKat</h2>

<table class="table" id="table2">
    <thead>
        <tr>
            <th>
                Фотографија
            </th>
            <th>
                Наслов
            </th>
            <th>
                Крајна дата
            </th>
            <th>
                Правно лице
            </th>
            <th>
                Адреса
            </th>
            <th>

            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Oglasi)
        {
            <tr>
                <td>
                    <img src="@item.slikaUrl" style="max-width:200px; max-height:200px" />
                </td>
                <td>
                    @Html.ActionLink(item.zanimanje, "Details", "Oglas", new { id = item.Id }, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.krajnaData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.pravnoLice)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.adresa)
                </td>
                <td>
                    @if (Request.IsAuthenticated)
                    {
                        @Html.ActionLink("Додади во омилени", "AddToFavorite", "Account", new { id = item.Id }, null)
                    }
                </td>
                <td>
                    @if (User.Identity.Name == item.email)
                    {
                        @Html.ActionLink("Измени", "Edit", "Oglas", new { id = item.Id }, null)
                    }|
                    @if (User.Identity.Name == item.email)
                    {<button data-id="@item.Id" class="btn btn-link js-delete">Избриши</button>}
                    @* @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("Креирај коментар", "Kreiraj", "Komentars", new { id = item.Id }, null)
        }|
        @Html.ActionLink("Прочитај коментари", "Index", "Komentars", new { id = item.Id }, null) *@
                </td>

            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        //$(document).on("ready", function () {
        var table = $("#table2").DataTable();
        $("#table2 .js-delete").click( function() {
            var kopce = $(this);
            bootbox.confirm("Дали сте сигурни дека сакате да го избрешете огласот?",
                function (result) {
                    if (result) {
                        $.ajax({
                            method: "GET",
                            url: "/Oglas/Delete/" + kopce.attr("data-id"),
                            success: function () {
                                table.row(kopce.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
        });
      //  });
    </script>
}