@model IEnumerable<proekt_internetTeh.Models.Komentar>

@{
    ViewBag.Title = "Index";
}
<head>
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")

    <script src="@Url.Content("~/Scripts/jquery-3.4.1.min.js")" type="text/javascript"></script>
    @Scripts.Render("~/Scripts/bootbox.min.js")
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script> 
</head>
<body>
    <h2 style="color:#e86f00" >Коментари</h2>
    <hr style="background: linear-gradient(.25turn,#01255c, white, #01255c);border:0; height:3px;" />

    <table class="table text-white table-borderless border-0" id="table6">
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td><img src="https://www.kindpng.com/picc/m/78-785827_user-profile-avatar-login-account-male-user-icon.png" style="width: 70px; height: 70px;" class="rounded-circle float-right"></td>
                    <td style="width:600px;">
                        <h5 class="font-weight-bold" style="color:#e86f00">@item.Email
                        @if (item.rating == 1)
                        {
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        }
                        else if (item.rating == 2)
                        {
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        }
                        else if (item.rating == 3)
                        {
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                            <i class="fa fa-star-o"></i>
                        }
                        else if (item.rating == 4)
                        {
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        }
                        else
                        {
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                        } </h5>
                        <p class="font-weight-light">@item.komentar</p>
                    </td>                    
                    <td>
                        
                        @if (User.Identity.Name.Equals(item.Email) || User.IsInRole("Administrator"))
                        {
                            @Ajax.ActionLink(" Избриши коментар ", "Delete", "Komentars", new { id = item.Id }, new AjaxOptions
                            {
                             HttpMethod = "Get",
                             Confirm = "Дали сте сигурни дека сакате да го избришете вашиот коментар?",
                             OnSuccess = "RemoveRow"
                            },
                             new { @class = "btn btn-danger fa fa-trash float-right " })
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
<script type="text/javascript">
    function RemoveRow() {
        var $tr = $(this).closest('tr');
        $tr.remove();
    }
</script>